# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc
airbus-aircrafts-sample-dataset/annotations.csv
airbus-aircrafts-sample-dataset/LICENSE.txt
airbus-aircrafts-sample-dataset/README.md
airbus-aircrafts-sample-dataset/extras/08a8132a-a6c7-4cab-adee-7e2976fd2822.jpg
airbus-aircrafts-sample-dataset/extras/22bc9d20-02c4-4554-8fed-2c127d54b5ed.jpg
airbus-aircrafts-sample-dataset/extras/022f91f0-1434-401f-a11b-e315b7068100.jpg
airbus-aircrafts-sample-dataset/extras/55aa185a-01c8-4668-ae87-1f1d67d15a08.jpg
airbus-aircrafts-sample-dataset/extras/65825eef-f8a1-41b3-ac87-4a0a7d482a0e.jpg
airbus-aircrafts-sample-dataset/extras/defbf838-828b-4427-9bb7-9af33563ea9c.jpg
airbus-aircrafts-sample-dataset/images/1e7e0450-6eb3-479e-88c2-990abc8207fa.jpg
airbus-aircrafts-sample-dataset/images/3da0b873-fdde-4faf-9a85-021248c7dacf.jpg
airbus-aircrafts-sample-dataset/images/3e321b8a-9504-45aa-82b4-16158e28e290.jpg
airbus-aircrafts-sample-dataset/images/03f84930-e2be-4c19-9afc-0dc26d02538e.jpg
airbus-aircrafts-sample-dataset/images/4a0821b7-3689-4b0e-9397-389254ea9a32.jpg
airbus-aircrafts-sample-dataset/images/4c9d2482-788c-4d68-a3d4-478b2367abce.jpg
airbus-aircrafts-sample-dataset/images/4ca65749-67e4-4457-b4e4-89a3f58ce24d.jpg
airbus-aircrafts-sample-dataset/images/4e8c95f3-bbb6-4e2f-920d-8d3b2bd1d29f.jpg
airbus-aircrafts-sample-dataset/images/4e9164aa-532e-4b76-bce4-060b090da357.jpg
airbus-aircrafts-sample-dataset/images/4f833867-273e-4d73-8bc3-cb2d9ceb54ef.jpg
airbus-aircrafts-sample-dataset/images/4fdabd34-a2fd-4f0a-bb48-01fe043f1499.jpg
airbus-aircrafts-sample-dataset/images/5bb8ab95-f141-43ca-a722-a1937d9d5a72.jpg
airbus-aircrafts-sample-dataset/images/5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg
airbus-aircrafts-sample-dataset/images/5f726a3d-9876-498f-90c5-9f9efae06c6a.jpg
airbus-aircrafts-sample-dataset/images/7ab2461e-fad4-4d90-a260-8317bbc4e958.jpg
airbus-aircrafts-sample-dataset/images/7c2da441-819f-4ddd-8293-f4be5213d69e.jpg
airbus-aircrafts-sample-dataset/images/8df07836-4606-446e-9880-6ed9e0f74543.jpg
airbus-aircrafts-sample-dataset/images/014de911-7810-4f7d-8967-3e5402209f4a.jpg
airbus-aircrafts-sample-dataset/images/20bfce20-fb8a-4e20-a4aa-57064add848b.jpg
airbus-aircrafts-sample-dataset/images/27cd32ba-c86a-419f-b544-601dd67c5d36.jpg
airbus-aircrafts-sample-dataset/images/34ae857d-6e71-46b9-b694-d9e40fb093bc.jpg
airbus-aircrafts-sample-dataset/images/38ff8d64-3460-4f83-bf9c-383832aeba0d.jpg
airbus-aircrafts-sample-dataset/images/42f35cf8-66ca-400b-8381-dacc6483bb56.jpg
airbus-aircrafts-sample-dataset/images/48ef8e15-a43c-406b-9d3c-e815164b96d1.jpg
airbus-aircrafts-sample-dataset/images/54b4e42b-3667-4564-b8fa-c23122ca54d5.jpg
airbus-aircrafts-sample-dataset/images/56e2d3d3-6b16-401f-a300-847272373df5.jpg
airbus-aircrafts-sample-dataset/images/57af3c0a-b5ae-4e4f-a7f9-6856be2f80e5.jpg
airbus-aircrafts-sample-dataset/images/65e32857-71dc-406b-8583-1ea6467a330f.jpg
airbus-aircrafts-sample-dataset/images/72fa2a77-cf8e-44a2-9ab2-f11ca63b4b72.jpg
airbus-aircrafts-sample-dataset/images/74d335db-bf64-424a-88d7-5c24625c50b1.jpg
airbus-aircrafts-sample-dataset/images/77f7b57f-5cf2-424d-a952-9847b3c3f35e.jpg
airbus-aircrafts-sample-dataset/images/90c365f8-18b6-4230-be74-cd856a1ba98f.jpg
airbus-aircrafts-sample-dataset/images/135fdc4c-6656-4176-9873-9f00c6918293.jpg
airbus-aircrafts-sample-dataset/images/140d04fd-dea7-4d46-bce2-e20f73e155da.jpg
airbus-aircrafts-sample-dataset/images/495b73c8-024f-46cc-b426-05e49bbe5074.jpg
airbus-aircrafts-sample-dataset/images/534ba32c-cde2-402b-9b47-1396cf0999e8.jpg
airbus-aircrafts-sample-dataset/images/0641acc3-c0b9-4f9d-b0ba-7ad18aa08864.jpg
airbus-aircrafts-sample-dataset/images/696b9320-7dbe-4c28-bd07-7a73e7a28e64.jpg
airbus-aircrafts-sample-dataset/images/980b5831-43b7-4adb-9e4b-67d6cff3ef68.jpg
airbus-aircrafts-sample-dataset/images/996ba764-cd2a-49c0-9c9f-b166207de0ab.jpg
airbus-aircrafts-sample-dataset/images/2314c1b5-ec8f-4212-b42f-43365a13fd20.jpg
airbus-aircrafts-sample-dataset/images/3463b88d-1e11-4c04-9868-e8c72d510556.jpg
airbus-aircrafts-sample-dataset/images/6627e7c7-2fdd-4f3c-965e-b4d73d0a4cc2.jpg
airbus-aircrafts-sample-dataset/images/7635d63c-6b97-4c9c-a7dc-27773d42ed4c.jpg
airbus-aircrafts-sample-dataset/images/11928d1c-44c7-4d3d-b593-9cdfd5f6f367.jpg
airbus-aircrafts-sample-dataset/images/12210ad7-83f8-4b54-bb4b-e93f8ff6ac1f.jpg
airbus-aircrafts-sample-dataset/images/14436c8c-93ec-41af-9fbf-43a5f39f2b98.jpg
airbus-aircrafts-sample-dataset/images/22291e0b-ebe2-4f3f-b53e-4e709179300a.jpg
airbus-aircrafts-sample-dataset/images/22457f2e-a740-4719-9512-056749695281.jpg
airbus-aircrafts-sample-dataset/images/29324dbf-6043-4521-bd83-44a97ffc5281.jpg
airbus-aircrafts-sample-dataset/images/54442e49-5271-42bf-a8fb-a2cab30cfd49.jpg
airbus-aircrafts-sample-dataset/images/56765c5f-0922-43b3-8d58-bf2bf5a1e727.jpg
airbus-aircrafts-sample-dataset/images/58956bcc-11fc-4357-8d75-32fee9feaf07.jpg
airbus-aircrafts-sample-dataset/images/074737f4-7f59-4729-be5d-67f6f1d34668.jpg
airbus-aircrafts-sample-dataset/images/78099b50-f2b6-4319-b462-f33df2966c45.jpg
airbus-aircrafts-sample-dataset/images/78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg
airbus-aircrafts-sample-dataset/images/0263270b-e3ee-41dc-aeef-43ff77e66d5b.jpg
airbus-aircrafts-sample-dataset/images/576827bc-a94a-4611-8820-f3d56e969151.jpg
airbus-aircrafts-sample-dataset/images/791377f0-a01c-4fc3-b6e9-151b6cb80fdf.jpg
airbus-aircrafts-sample-dataset/images/9089631b-b1c0-4df8-b3f4-061c98149a94.jpg
airbus-aircrafts-sample-dataset/images/70332141-fcd3-4e2e-89c7-d50cbc03c25f.jpg
airbus-aircrafts-sample-dataset/images/71252436-5176-40ba-b1ff-73efc251f3c6.jpg
airbus-aircrafts-sample-dataset/images/a9cc0c57-a46a-4d85-bd97-937cf7ffc6f8.jpg
airbus-aircrafts-sample-dataset/images/a32efaae-a263-4570-903f-76cf9942742f.jpg
airbus-aircrafts-sample-dataset/images/a40b7aed-8db8-449d-b0e4-3debfa04281a.jpg
airbus-aircrafts-sample-dataset/images/ac77b86a-4198-4d40-900e-a95e520b2ac7.jpg
airbus-aircrafts-sample-dataset/images/ad36e699-4a1f-4891-b579-6e9ac3e54235.jpg
airbus-aircrafts-sample-dataset/images/ae2fddcd-a2b4-4f32-b86d-ac2c2b03d77d.jpg
airbus-aircrafts-sample-dataset/images/af67041b-f363-47ae-8ddd-f652db3a6bab.jpg
airbus-aircrafts-sample-dataset/images/b3c7c22d-9c71-4ff3-9146-e2f9ab2f9787.jpg
airbus-aircrafts-sample-dataset/images/b6e9f8fc-3fbd-411a-a1e5-b853e8fbe2ac.jpg
airbus-aircrafts-sample-dataset/images/b7ab0316-bf02-4266-b44a-cef6417f795c.jpg
airbus-aircrafts-sample-dataset/images/b3324b5e-cca9-42f7-9806-ab1f86eee050.jpg
airbus-aircrafts-sample-dataset/images/babb0ef2-ef2d-4cab-b3e2-230ae2418cdc.jpg
airbus-aircrafts-sample-dataset/images/bd4fba16-ec59-4163-a896-db2274b86a8b.jpg
airbus-aircrafts-sample-dataset/images/bed88cf9-7887-4bfd-a1d7-b5499ee24f03.jpg
airbus-aircrafts-sample-dataset/images/bfc53eb0-eb57-4dd7-8c1e-8e42ba49757b.jpg
airbus-aircrafts-sample-dataset/images/c20b3c21-a6e9-46f7-8536-d4f92574e111.jpg
airbus-aircrafts-sample-dataset/images/c98a544c-4206-4176-b480-35b8bdf5bb14.jpg
airbus-aircrafts-sample-dataset/images/ca7b1077-0d37-4ada-9d56-0e66f864935e.jpg
airbus-aircrafts-sample-dataset/images/cbd51501-ed0f-411c-b472-df4357cca40c.jpg
airbus-aircrafts-sample-dataset/images/cc4f3226-c262-409e-a4b2-a576e776f7f4.jpg
airbus-aircrafts-sample-dataset/images/d0c3d270-f23e-4792-bac0-142a9cc8ccc6.jpg
airbus-aircrafts-sample-dataset/images/d3d2b706-9017-41f4-b57e-469038daa634.jpg
airbus-aircrafts-sample-dataset/images/d9399a45-6745-4e59-8903-90640b2ddf9f.jpg
airbus-aircrafts-sample-dataset/images/d8873734-016a-4b9d-9b9e-8bc47eb13fef.jpg
airbus-aircrafts-sample-dataset/images/dacabde6-c8a7-475b-ab26-81b4e4dd5977.jpg
airbus-aircrafts-sample-dataset/images/dce20c6a-d661-4258-9c58-5507f38ce97e.jpg
airbus-aircrafts-sample-dataset/images/e18dde99-6efd-4c6a-8fd3-343e8a393cd8.jpg
airbus-aircrafts-sample-dataset/images/e5416a97-a8ea-415f-928a-e75a5090cd46.jpg
airbus-aircrafts-sample-dataset/images/e9021b38-0b3c-484f-af2c-b36bbf765f85.jpg
airbus-aircrafts-sample-dataset/images/ecfe7982-05e5-435f-824b-e24b6846316e.jpg
airbus-aircrafts-sample-dataset/images/ed921ec7-b950-460c-a912-12247d867fea.jpg
airbus-aircrafts-sample-dataset/images/eeb3f271-15f5-4977-a921-f4636efc6434.jpg
airbus-aircrafts-sample-dataset/images/eeb978ec-5945-4def-819a-4ea903b17c2d.jpg
airbus-aircrafts-sample-dataset/images/ef8ff443-e09b-405d-a432-3b5bde0a278b.jpg
airbus-aircrafts-sample-dataset/images/ef92f434-c41b-4423-9218-4514c49f00c6.jpg
airbus-aircrafts-sample-dataset/images/f34f05c6-84ce-47d7-ba5c-394d85c86a46.jpg
airbus-aircrafts-sample-dataset/images/f82d64a6-3bfa-4612-bcbd-847a7d89c296.jpg
airbus-aircrafts-sample-dataset/images/fc1ab8ce-e531-46ed-b74b-0374cd58cf2a.jpg
airbus-aircrafts-sample-dataset/images/fc06c595-7905-46c3-91c0-daf56af0f926.jpg
airbus-aircrafts-sample-dataset/images/fc8f9dc5-b6a2-49f3-9bde-1f8ff382ca5f.jpg
airbus-aircrafts-sample-dataset/images/fca12ef2-0f65-48d0-a4aa-6bae562f2236.jpg
py/Question 1/processed images/processed-1e7e0450-6eb3-479e-88c2-990abc8207fa.jpg
py/Question 1/processed images/processed-3da0b873-fdde-4faf-9a85-021248c7dacf.jpg
py/Question 1/processed images/processed-3e321b8a-9504-45aa-82b4-16158e28e290.jpg
py/Question 1/processed images/processed-03f84930-e2be-4c19-9afc-0dc26d02538e.jpg
py/Question 1/processed images/processed-4a0821b7-3689-4b0e-9397-389254ea9a32.jpg
py/Question 1/processed images/processed-4c9d2482-788c-4d68-a3d4-478b2367abce.jpg
py/Question 1/processed images/processed-4ca65749-67e4-4457-b4e4-89a3f58ce24d.jpg
py/Question 1/processed images/processed-4e8c95f3-bbb6-4e2f-920d-8d3b2bd1d29f.jpg
py/Question 1/processed images/processed-4e9164aa-532e-4b76-bce4-060b090da357.jpg
py/Question 1/processed images/processed-4f833867-273e-4d73-8bc3-cb2d9ceb54ef.jpg
py/Question 1/processed images/processed-4fdabd34-a2fd-4f0a-bb48-01fe043f1499.jpg
py/Question 1/processed images/processed-5bb8ab95-f141-43ca-a722-a1937d9d5a72.jpg
py/Question 1/processed images/processed-5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg
py/Question 1/processed images/processed-5f726a3d-9876-498f-90c5-9f9efae06c6a.jpg
py/Question 1/processed images/processed-7ab2461e-fad4-4d90-a260-8317bbc4e958.jpg
py/Question 1/processed images/processed-7c2da441-819f-4ddd-8293-f4be5213d69e.jpg
py/Question 1/processed images/processed-8df07836-4606-446e-9880-6ed9e0f74543.jpg
py/Question 1/processed images/processed-014de911-7810-4f7d-8967-3e5402209f4a.jpg
py/Question 1/processed images/processed-20bfce20-fb8a-4e20-a4aa-57064add848b.jpg
py/Question 1/processed images/processed-27cd32ba-c86a-419f-b544-601dd67c5d36.jpg
py/Question 1/processed images/processed-34ae857d-6e71-46b9-b694-d9e40fb093bc.jpg
py/Question 1/processed images/processed-38ff8d64-3460-4f83-bf9c-383832aeba0d.jpg
py/Question 1/processed images/processed-42f35cf8-66ca-400b-8381-dacc6483bb56.jpg
py/Question 1/processed images/processed-48ef8e15-a43c-406b-9d3c-e815164b96d1.jpg
py/Question 1/processed images/processed-54b4e42b-3667-4564-b8fa-c23122ca54d5.jpg
py/Question 1/processed images/processed-56e2d3d3-6b16-401f-a300-847272373df5.jpg
py/Question 1/processed images/processed-57af3c0a-b5ae-4e4f-a7f9-6856be2f80e5.jpg
py/Question 1/processed images/processed-65e32857-71dc-406b-8583-1ea6467a330f.jpg
py/Question 1/processed images/processed-72fa2a77-cf8e-44a2-9ab2-f11ca63b4b72.jpg
py/Question 1/processed images/processed-74d335db-bf64-424a-88d7-5c24625c50b1.jpg
py/Question 1/processed images/processed-77f7b57f-5cf2-424d-a952-9847b3c3f35e.jpg
py/Question 1/processed images/processed-90c365f8-18b6-4230-be74-cd856a1ba98f.jpg
py/Question 1/processed images/processed-135fdc4c-6656-4176-9873-9f00c6918293.jpg
py/Question 1/processed images/processed-140d04fd-dea7-4d46-bce2-e20f73e155da.jpg
py/Question 1/processed images/processed-495b73c8-024f-46cc-b426-05e49bbe5074.jpg
py/Question 1/processed images/processed-534ba32c-cde2-402b-9b47-1396cf0999e8.jpg
py/Question 1/processed images/processed-0641acc3-c0b9-4f9d-b0ba-7ad18aa08864.jpg
py/Question 1/processed images/processed-696b9320-7dbe-4c28-bd07-7a73e7a28e64.jpg
py/Question 1/processed images/processed-980b5831-43b7-4adb-9e4b-67d6cff3ef68.jpg
py/Question 1/processed images/processed-996ba764-cd2a-49c0-9c9f-b166207de0ab.jpg
py/Question 1/processed images/processed-2314c1b5-ec8f-4212-b42f-43365a13fd20.jpg
py/Question 1/processed images/processed-3463b88d-1e11-4c04-9868-e8c72d510556.jpg
py/Question 1/processed images/processed-6627e7c7-2fdd-4f3c-965e-b4d73d0a4cc2.jpg
py/Question 1/processed images/processed-7635d63c-6b97-4c9c-a7dc-27773d42ed4c.jpg
py/Question 1/processed images/processed-11928d1c-44c7-4d3d-b593-9cdfd5f6f367.jpg
py/Question 1/processed images/processed-12210ad7-83f8-4b54-bb4b-e93f8ff6ac1f.jpg
py/Question 1/processed images/processed-14436c8c-93ec-41af-9fbf-43a5f39f2b98.jpg
py/Question 1/processed images/processed-22291e0b-ebe2-4f3f-b53e-4e709179300a.jpg
py/Question 1/processed images/processed-22457f2e-a740-4719-9512-056749695281.jpg
py/Question 1/processed images/processed-29324dbf-6043-4521-bd83-44a97ffc5281.jpg
py/Question 1/processed images/processed-54442e49-5271-42bf-a8fb-a2cab30cfd49.jpg
py/Question 1/processed images/processed-56765c5f-0922-43b3-8d58-bf2bf5a1e727.jpg
py/Question 1/processed images/processed-58956bcc-11fc-4357-8d75-32fee9feaf07.jpg
py/Question 1/processed images/processed-074737f4-7f59-4729-be5d-67f6f1d34668.jpg
py/Question 1/processed images/processed-78099b50-f2b6-4319-b462-f33df2966c45.jpg
py/Question 1/processed images/processed-78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg
py/Question 1/processed images/processed-0263270b-e3ee-41dc-aeef-43ff77e66d5b.jpg
py/Question 1/processed images/processed-576827bc-a94a-4611-8820-f3d56e969151.jpg
py/Question 1/processed images/processed-791377f0-a01c-4fc3-b6e9-151b6cb80fdf.jpg
py/Question 1/processed images/processed-9089631b-b1c0-4df8-b3f4-061c98149a94.jpg
py/Question 1/processed images/processed-70332141-fcd3-4e2e-89c7-d50cbc03c25f.jpg
py/Question 1/processed images/processed-71252436-5176-40ba-b1ff-73efc251f3c6.jpg
py/Question 1/processed images/processed-a9cc0c57-a46a-4d85-bd97-937cf7ffc6f8.jpg
py/Question 1/processed images/processed-a32efaae-a263-4570-903f-76cf9942742f.jpg
py/Question 1/processed images/processed-a40b7aed-8db8-449d-b0e4-3debfa04281a.jpg
py/Question 1/processed images/processed-ac77b86a-4198-4d40-900e-a95e520b2ac7.jpg
py/Question 1/processed images/processed-ad36e699-4a1f-4891-b579-6e9ac3e54235.jpg
py/Question 1/processed images/processed-ae2fddcd-a2b4-4f32-b86d-ac2c2b03d77d.jpg
py/Question 1/processed images/processed-af67041b-f363-47ae-8ddd-f652db3a6bab.jpg
py/Question 1/processed images/processed-b3c7c22d-9c71-4ff3-9146-e2f9ab2f9787.jpg
py/Question 1/processed images/processed-b6e9f8fc-3fbd-411a-a1e5-b853e8fbe2ac.jpg
py/Question 1/processed images/processed-b7ab0316-bf02-4266-b44a-cef6417f795c.jpg
py/Question 1/processed images/processed-b3324b5e-cca9-42f7-9806-ab1f86eee050.jpg
py/Question 1/processed images/processed-babb0ef2-ef2d-4cab-b3e2-230ae2418cdc.jpg
py/Question 1/processed images/processed-bd4fba16-ec59-4163-a896-db2274b86a8b.jpg
py/Question 1/processed images/processed-bed88cf9-7887-4bfd-a1d7-b5499ee24f03.jpg
py/Question 1/processed images/processed-bfc53eb0-eb57-4dd7-8c1e-8e42ba49757b.jpg
py/Question 1/processed images/processed-c20b3c21-a6e9-46f7-8536-d4f92574e111.jpg
py/Question 1/processed images/processed-c98a544c-4206-4176-b480-35b8bdf5bb14.jpg
py/Question 1/processed images/processed-ca7b1077-0d37-4ada-9d56-0e66f864935e.jpg
py/Question 1/processed images/processed-cbd51501-ed0f-411c-b472-df4357cca40c.jpg
py/Question 1/processed images/processed-cc4f3226-c262-409e-a4b2-a576e776f7f4.jpg
py/Question 1/processed images/processed-d0c3d270-f23e-4792-bac0-142a9cc8ccc6.jpg
py/Question 1/processed images/processed-d3d2b706-9017-41f4-b57e-469038daa634.jpg
py/Question 1/processed images/processed-d9399a45-6745-4e59-8903-90640b2ddf9f.jpg
py/Question 1/processed images/processed-d8873734-016a-4b9d-9b9e-8bc47eb13fef.jpg
py/Question 1/processed images/processed-dacabde6-c8a7-475b-ab26-81b4e4dd5977.jpg
py/Question 1/processed images/processed-dce20c6a-d661-4258-9c58-5507f38ce97e.jpg
py/Question 1/processed images/processed-e18dde99-6efd-4c6a-8fd3-343e8a393cd8.jpg
py/Question 1/processed images/processed-e5416a97-a8ea-415f-928a-e75a5090cd46.jpg
py/Question 1/processed images/processed-e9021b38-0b3c-484f-af2c-b36bbf765f85.jpg
py/Question 1/processed images/processed-ecfe7982-05e5-435f-824b-e24b6846316e.jpg
py/Question 1/processed images/processed-ed921ec7-b950-460c-a912-12247d867fea.jpg
py/Question 1/processed images/processed-eeb3f271-15f5-4977-a921-f4636efc6434.jpg
py/Question 1/processed images/processed-eeb978ec-5945-4def-819a-4ea903b17c2d.jpg
py/Question 1/processed images/processed-ef8ff443-e09b-405d-a432-3b5bde0a278b.jpg
py/Question 1/processed images/processed-ef92f434-c41b-4423-9218-4514c49f00c6.jpg
py/Question 1/processed images/processed-f34f05c6-84ce-47d7-ba5c-394d85c86a46.jpg
py/Question 1/processed images/processed-f82d64a6-3bfa-4612-bcbd-847a7d89c296.jpg
py/Question 1/processed images/processed-fc1ab8ce-e531-46ed-b74b-0374cd58cf2a.jpg
py/Question 1/processed images/processed-fc06c595-7905-46c3-91c0-daf56af0f926.jpg
py/Question 1/processed images/processed-fc8f9dc5-b6a2-49f3-9bde-1f8ff382ca5f.jpg
py/Question 1/processed images/processed-fca12ef2-0f65-48d0-a4aa-6bae562f2236.jpg
py/Question 2/fasterrcnn_resnet50_fpn.pth
